<h2>Teacher's Busy Slots</h2>

<% if (busySlots.length === 0) { %>
  <p>No busy slots found for this teacher.</p>
<% } else { %>
  <ul>
    <% busySlots.forEach(s => { %>
      <li>
        <%= s.day %> - <%= s.timeSlot %> - <%= s.subject %>
        <form action="/exchange/busy-options" method="POST" style="display:inline;">
          <input type="hidden" name="slotId" value="<%= slotId %>">
          <input type="hidden" name="teacherId" value="<%= teacherId %>">
          <input type="hidden" name="busySlotId" value="<%= s._id %>">
          <input type="hidden" name="date" value="<%= date %>">
          <button type="submit">Select</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } %>
