<h2>Choose Teacher</h2>

<h3>Same ClassGroup & Free</h3>
<ul>
  <% sameGroup_free.forEach(t => { %>
    <li>
      <%= t.username %> 
      <form action="/exchange/choose-teacher" method="POST" style="display:inline;">
        <input type="hidden" name="slotId" value="<%= initiatorSlot._id %>">
        <input type="hidden" name="teacherId" value="<%= t._id %>">
        <input type="hidden" name="date" value="<%= date %>">
        <button type="submit">Select</button>
      </form>
    </li>
  <% }) %>
</ul>

<h3>Same ClassGroup & Busy</h3>
<ul>
  <% sameGroup_busy.forEach(obj => { %>
    <li>
      <%= obj.teacher.username %> (Busy)
      <form action="/exchange/choose-teacher" method="POST" style="display:inline;">
        <input type="hidden" name="slotId" value="<%= initiatorSlot._id %>">
        <input type="hidden" name="teacherId" value="<%= obj.teacher._id %>">
        <input type="hidden" name="date" value="<%= date %>">
        <button type="submit" >Busy</button>
      </form>
    </li>
  <% }) %>
</ul>

<h3>Different ClassGroup & Free</h3>
<ul>
  <% diffGroup_free.forEach(t => { %>
    <li>
      <%= t.username %> 
      <form action="/exchange/choose-teacher" method="POST" style="display:inline;">
        <input type="hidden" name="slotId" value="<%= initiatorSlot._id %>">
        <input type="hidden" name="teacherId" value="<%= t._id %>">
        <input type="hidden" name="date" value="<%= date %>">
        <button type="submit">Select</button>
      </form>
    </li>
  <% }) %>
</ul>

<h3>Different ClassGroup & Busy</h3>
<ul>
  <% diffGroup_busy.forEach(obj => { %>
    <li>
      <%= obj.teacher.username %> (Busy)
      <form action="/exchange/choose-teacher" method="POST" style="display:inline;">
        <input type="hidden" name="slotId" value="<%= initiatorSlot._id %>">
        <input type="hidden" name="teacherId" value="<%= obj.teacher._id %>">
        <input type="hidden" name="date" value="<%= date %>">
        <button type="submit" >Busy</button>
      </form>
    </li>
  <% }) %>
</ul>
