<h2>Sent Requests</h2>
<ul>
  <% sent.forEach(r => { %>
    <li><%= r.receiver.username %> - <%= r.type %> - <%= r.status %></li>
  <% }) %>
</ul>

<h2>Received Requests</h2>
<ul>
  <% received.forEach(r => { %>
    <li>
      <%= r.sender.username %> - <%= r.type %> - <%= r.status %>
      <% if(r.status==="pending"){ %>
        <form action="/exchange/accept/<%= r._id %>" method="POST">
          <button>Accept</button>
        </form>
        <form action="/exchange/decline/<%= r._id %>" method="POST">
          <button>Decline</button>
        </form>
      <% } %>
    </li>
  <% }) %>
</ul>
